.jumbotron
  %h1 Welcome to Tomato Simulator&trade;!
  = image_tag "farmer.png", alt: "Farmer", role: "presentation"
= form_for @tomato do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  = f.submit "Start a New Game", class: "btn btn-primary"