.jumbotron
  %h1 Welcome to Plant Simulator&trade;!
  = image_tag "farmer.png", alt: "Farmer", role: "presentation"
= form_for @plant do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group
    %fieldset
      %legend Choose your plant type
      - @plant.sim_params.keys.each do |plant_type|
        .radio
          = label_tag do
            = f.radio_button :plant_type, plant_type
            = plant_type

  = f.submit "Start a New Game", class: "btn btn-primary"