<!DOCTYPE html>
<html>
  <head>
    <title>Tomato Simulator &trade;</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"> 
  </head>

  <body>
    <div class="container">
      <%- if flash[:notice].present? %>
        <div class="alert alert-info">
          <%= flash[:notice] %>
        </div>
      <%- end %>
      <%- if flash[:error].present? %>
        <div class="alert alert-danger">
          <%= flash[:error] %>
        </div>
      <%- end %>
      <%= yield %>
    </div>
  </body>
</html>
